.simple-carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    & .simple-carousel-content-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        overflow-x: hidden;
        flex: 1;
        margin-left: 10px;
        margin-right: 10px;

        & .simple-carousel-container {
            position: relative;
            display: flex;
            flex-direction: row;
            flex: 1;
        }
    }

    & .simple-carousel-button-wrapper {
        display: contents;
        cursor: pointer;
    }
}
